body {
  background-color: orange;
}

.container {
  width: 80% !important;
}

h1, h3 {
  text-shadow: 1px 1px gray;
}

img {
  width: 200px;
  height: 174px;
  text-align: center;
}

input {
  background-color: antiquewhite !important;
  border: 1px solid #8702a8 !important;
  border-radius: 10px !important;
}

input:focus {
  box-shadow: unset !important;
}

li {
  font-size: 1.25rem;
  margin-top: 10px;
  font-weight: bold;
  padding-bottom: 8px;
  background-color: antiquewhite;
  border: 1px solid #8702a8;
  border-radius: 10px;
}

li button {
  margin-top: 8px;
}

@media screen and (max-width: 992px) {
  input {
    max-width: 75%;
  }
}

@media screen and (max-width: 600px) {
  input {
    max-width: 100%;
  }
}